
button {
  position: fixed;
  top: 250px; 
}


.wild-pokemon{
  cursor: url('https://image.flaticon.com/icons/png/128/361/361998.png') 30 30, auto;
  width: 150px;
  height: 150px; 
  position: fixed;
}

.pokeball{
  width: 150px;
  height: 150px; 
  position: fixed;
}

#test{
  background-color: blue; 
}